#movie-list-wrapper {
  overflow: hidden;
  padding: 20px;
}

#movie-list-wrapper > h3 {
  margin-bottom: 10px;
  color: white;
}

#movie-list {
  width: 700px;
  height: 550px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
}
