.movie-item-wrapper {
  background-color: #666;
  border: 1px solid gray;
  margin-bottom: 10px;
  width: 100%;
  height: 165px;
  display: flex;
  align-items: left;
  justify-content: space-between;
  padding: 5px;
}

.movie-item-img-container {
  padding-left: 10px;
  height: 150px;
}

.movie-item-info-container > h3 {
  margin-bottom: 5px;
  color: white;
}

.movie-item-poster {
  border: 1px solid #f7faff;
  border-radius: 1%;
  /* width: inherit; */
  width: 100px;
  height: 100%;
}

.movie-item-info {
  display: flex;
  flex-direction: row;
}

.bold {
  font-weight: bold;
  color: white;
}

.movie-item-data-column {
  margin-left: 10px;
  width: 400px;
}

.item-button-block {
  display: flex;
  flex-direction: column;
}

.item-button {
  border: 1px solid brown;
  height: 35px;
  width: 35px;
  background-color: rgba(255, 0, 0, 0.562);
  color: white;
  text-align: center;
  margin: 5px;
  font-size: 20px;
}

.edit-btn {
  background-color: rgba(0, 255, 0, 0.362);
}

.delete-btn {
  background-color: rgba(255, 0, 0, 0.562);
}

.content {
  min-width: 650px;
  margin-right: 10px;
  font-size: 20px;
  text-align: left;
}

.movie-item-wrapper:hover {
  background-color: #777;
  cursor: pointer;
}

.movie-item-wrapper.edit-now {
  background-color: #888;
}
