#header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  background-color: #333;
  z-index: 1;
}

.img-header {
  font-size: 30px;
  margin: 15px;
  color: #927076;
}

#header > h2 {
  margin-right: 10px;
  margin-top: 18px;
  color: white;
}

#header > ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
}

#header > ul > li {
  margin: 10px;
  display: flex;
}

#header > ul > li > a {
  color: white;
  text-align: center;
  padding: 15px 20px;
  text-decoration: none;
}

#header > ul > li a:hover {
  background-color: #111;
}
