.movie-item {
  background-color: #ebe6d9;
  border: 1px solid black;
  margin-bottom: 10px;
  min-width: 200px;
  max-width: 330px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 5px;
}

.delete-btn {
  border: 1px solid black;
  min-height: 25px;
  min-width: 25px;
  margin-right: 5px;
  display: inline-block;
  background-color: rgba(255, 0, 0, 0.562);
  color: white;
}

.content {
  min-width: 150px;
  margin-right: 10px;
  font-size: 20px;
  text-align: left;
}
