#root {
  max-width: 1280px;
}

#main-wrapper {
  display: flex;
  position: relative;
  margin-top: 7%;
}

#main {
  width: 800px;
  height: 100%;
  margin-left: 225px;
  margin-right: 1%;
  margin-bottom: 5%;
  background-color: #444;
  border: 1px solid rgb(97, 96, 96);
}